.blog-archive {
    li div {
        display: flex;
        justify-content: space-between;

        padding: 0 .5em;
        margin-left: -.5em;
    }

    a {
        padding: 0 .5em;
        text-indent: -.5em;
    }

    time {
        color: var(--text-grey);
    }
}
