<nav class="pagination">
    <div class="prev">
        {% if paginator.previous %}
        <a href="{{ paginator.previous }}"><span aria-hidden="true">&larr;</span> Neuere Einträge</a>
        {% endif %}
    </div>
    <span class="page-number">{{ paginator.current_index }} / {{ paginator.number_pagers }}</span>
    <div class="next">
        {% if paginator.next %}
        <a href="{{ paginator.next }}">Ältere Einträge <span aria-hidden="true">&rarr;</span></a>
        {% endif %}
    </div>
</nav>
