{% set iso_date = page.date | date(format = '%Y-%m-%d') %}
<header class="post-header">
    <h1>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        <time datetime="{{ iso_date }}">{{ iso_date }}</time>
    </h1>
</header>
