<header class="site-header">
    <div class="title">
        <a href="/">{% include "includes/logo.html" %}</a>
    </div>
    <input id="header-dropdown-checkbox" type="checkbox">
    <label for="header-dropdown-checkbox" class="header-dropdown-button">
        <i class="fas fa-bars" aria-hidden="true"></i>
    </label>
    <label for="header-dropdown-checkbox" class="page-overlay"></label>
    <div class="header-dropdown-contents">
        {% include "includes/site_nav.html" %}
        <div class="header-dropdown-separator"></div>
        {% include "includes/ext_nav.html" %}
    </div>
</header>
<div class="site-header-separator"></div>
