{% extends "section.html" %}
{% block content %}

{%- for page in paginator.pages %}
<article>
    {% include "includes/post_header.html" %}
    {% if page.summary %}
        {{ page.summary | safe }}
        <p><a href="{{ page.permalink | safe }}#continue-reading">Weiterlesen…</a></p>
    {% else %}
        {{ page.content | safe }}
    {% endif %}
</article>
{% endfor %}

{%- include "includes/pagination.html" -%}

{% endblock content %}
