{% extends "section.html" %}
{% block section_content %}
<p>Hier findest du eine Liste von Spaceprojekten.</p>
<p>Bereits im Wiki dokumentierte Projekte:</p>
<ul>
{% for page in section.pages %}
    <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
{% endfor %}
</ul>
{{ section.content | safe }}
{% endblock section_content %}
